name: GenTx
on: [pull_request]
jobs:
  verify-gentx:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2.1.3
        with:
          go-version: 1.16
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Display go version
        run: go version
      - name: validate-gentx
        run: |
          bash -x ./scripts/verify_gentx.sh

