name: GenTx
on:
  push:
    branches:
      - master
jobs:
  verify-gentx:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2.1.3
        with:
          go-version: 1.16
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Display go version
        run: go version
      - name: validate-gentx
        run: |
          bash -x ./scripts/verify_gentx.sh
      - name: check-is-previous-participant
        run: |
          python3 ./scripts/is_prev_participant.py